@model DevOpsConf2016.Models.ViewModels.RegisterVM

@{
    ViewBag.Title = "Register";
}

<h2>Register to attend DevOpsConf2016!</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <br/>
        <h4>Login Info</h4>
        <hr/>
        <br/>
        <div class="form-group">
            @Html.LabelFor(model => model.UserName, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserName, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.UserName, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Password, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Password2, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password2, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Password2, "", new {@class = "text-danger"})
            </div>
        </div>
        <br/>
        <h4>Attendee</h4>
        <hr/>
        <div class="form-group">
            @Html.LabelFor(model => model.AttendeeInfo.FirstName, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.AttendeeInfo.FirstName, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.AttendeeInfo.FirstName, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AttendeeInfo.LastName, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.AttendeeInfo.LastName, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.AttendeeInfo.LastName, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AttendeeInfo.Title, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.AttendeeInfo.Title, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.AttendeeInfo.Title, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AttendeeInfo.Twitter, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.AttendeeInfo.Twitter, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.AttendeeInfo.Twitter, "", new {@class = "text-danger"})
            </div>
        </div>

        <br/>

        <h4>Additional Info</h4>
        <hr/>

        <div class="form-group">
            @Html.LabelFor(model => model.SpeakerInfo.Company, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.SpeakerInfo.Company, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.SpeakerInfo.Company, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.SpeakerInfo.CompanyURL, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.SpeakerInfo.CompanyURL, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.SpeakerInfo.CompanyURL, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.SpeakerInfo.BlogURL, htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.SpeakerInfo.BlogURL, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.SpeakerInfo.BlogURL, "", new {@class = "text-danger"})
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Register" class="btn btn-primary btn-lg"/>
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


