<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="/Content/images/logo-clearmeasure.png"/></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Why attend", "Index", "Home")</li>
                    <li>@Html.ActionLink("Sesions", "About", "Home")</li>
                    <li>@Html.ActionLink("Sponsors", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Register", "Index", "Attendees")</li>
                </ul>
            </div>
        </div>
    </nav>

<div id="home-bar">
    <div class="container">
        <div id="title" class="col-sm-6 col-md-3">
            Clear Measure 2016<br/>
            Dev Ops Conference<br/>
            <div>February 1, 2016 - Online</div>
        </div>

        <div id="message" class="col-sm-3 col-md-6">
            Join us on air as we host our annual Dev Ops
            conference! Something exciting, blah, blah, blah.
            You are in for a treat!
            <div> - Jeffrey Palermo, CEO, Clear Measure</div>
        </div>

        <div class="col-xs-3"></div>
    </div>
</div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
